body {font-family: Arial, Helvetica, sans-serif;}
*{
  color: white;
}
h1{
    font-size: 40px;
    display: block;
    margin-top: 30px;
}
*::-webkit-scrollbar {
  width: 20px;
  height: 15px;
}
*::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}
*::-webkit-scrollbar-thumb {
  background-color: #3e444a83;
  border-radius: 12px;
  border: 5px solid #5b5b5c00;
  background-clip: content-box;
  min-width: 40px;
  min-height: 40px;
}
*::-webkit-scrollbar-thumb:hover{
  background-color: #535353;
}
*::-webkit-scrollbar-thumb:active{
  background-color: #535353;
}
*::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
  padding: 2px;
}
input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: #323233;
}
input:focus{
    outline: none;
}
button {
  background-color: #616264;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.6;
}

form{
  margin-bottom: 20px;
}
.imgcontainer {
  text-align: center;
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imgcontainer p{
  padding: 10px;
  text-transform: uppercase;
}

img.avatar {
  width: 20%;
  border-radius: 200px;
  box-sizing: border-box;
  background-color: #DDD;
  border: 3px solid #cfd8dc;
}

.container {
  padding: 25px;
}

span.psw {
  margin-top: -5px;
  margin-right: -5px;
  float: right;
  color: #9b9b9b;
}

.modal {
  display: block; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 32px;
  width: 100%; 
  height: 100%;  
  overflow: auto;
  background-color: rgba(61, 61, 61, 0);
  padding-top: 10px;
}

.modal-content {
  background-color: #333435;
  margin: 5% auto 10px auto;
  border: 1px solid rgb(39, 39, 39);
  width: 50%; 
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}


#login-response-false, #login-response-true{
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    color: rgb(201, 201, 201);
    font-size: 15px;
}