*{
    padding: 0;
    margin: 0;
}
td, th{
    text-align: center;
}
#edit-table{

    display: inline;
}
#BerufsfachschuleModule{
    display: none;
    max-width: 80%;
}
#BerufsfachschuleModule:target{
    display: block;
}
#edit-table{
    padding: 5px;
    border-radius: 5px;
}
#edit-table:hover{
    opacity: 0.6;
}
#edit-table path{
    color:#a2a3a3;
}
.semester-choose{
    display: block;
    border-radius: 5px;
    padding: 3px;
    margin: 5px;
    cursor: pointer;
    display: block;
}
.semester-choose:hover{
    background-color: #343a40;
}
#semesters{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow: auto;
    border-top: 1px solid #3e444a;
    border-bottom: 1px solid #3e444a;
}
.active-semester{
    background-color: #343a40;
}
.semester-choose{
    display: block;
    border-radius: 5px;
    border: 1px solid rgba(223, 223, 223, 0.123);
    padding: 3px;
    margin: 5px;
    cursor: pointer;
    display: block;
}
.semester-choose a{
    text-decoration: none;
}
#container-notes-form{
    overflow: auto;
    display: none;
    max-height: 68vh;
}
#container-notes-form:target{
    display: block;
}
.semester-choose:hover{
    background-color: #343a40;
}
#semesters{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow: auto;
    border-top: 1px solid #3e444a;
    border-bottom: 1px solid #3e444a;
}
#table-notes-norm{
    margin: 10px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: safe;
    align-items: top;
}
#container-notes-form{
    margin: 10px;
    margin-left: 30px;
}
#table-notes-norm table{
    margin: 10px;
    margin-right: 40px;
}
.table-container{
    max-height: 70vh;
    overflow-y: auto;
    max-width: 1000px;
    width: fit-content;
    margin-right: 20px;
    margin: 20px;
}
.table-split{
    border-radius: 5px;
    margin: 5px;
    width: 2px;
    background-color: #8d8d8d70;
    height: 85vh;
}
.table-container h3{
    margin: 5px;
    margin-right: 10px;
}
#table-notes-norm tr{
    padding: 10px;
    background-color: #343a40;
}
#table-notes-norm th{
    min-width: 150px;
    width: fit-content;
}
#table-notes-norm td{
    min-width: 75px;
    width: auto;
}
#table-notes-norm  tr:nth-child(even){
    background-color: #3e444a;
}
#table-notes-norm td, #table-notes-norm th{
    padding: 10px;
}
.lap-note-title{
    position: absolute;
    top: 0;
    right: 0px;
    display: none;
    background-color: #1c1c1c8c;
    border: 1px solid rgba(255, 255, 255, 0.548);
    padding: 5px;
    font-size: xx-small;
}
.grade-bad{
    color: #ff0000;
}
.grade-good{
    color: #4ada26;
}
#calculates{
    width: auto;
    position: absolute;
    right: 25px;
    top: 180px;
    border-radius: 5px;
    background-color: #343a40;
}
#calculates h2{
    padding: 10px;
}
#table-notes-end td, #table-notes-end th{
    padding: 10px;
}
#table-notes-end th{
    text-align: left;
    padding-bottom: 2px;
    padding-top: 2px;
    margin-left: 10px;
}
#top-bar-gui{
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
#top-bar-gui a{
    margin-left: 30px;
    font-size: 25px;
}
#splitline{
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: 2px;
    background-color: #1c1c1c;
}
#info-lap-noten{
    display: none;
    position: absolute;
    right: 0;
    color: rgb(182, 182, 182);
    width: 320px;
    margin-right: 20px;
    bottom: 375px;
}