html{
    height: 100vh;
}
*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: #dedede;
}
@keyframes showmenu{
	from { left: -250px; }
    to { left: 0;}
}
@keyframes hidemenu{
	from { left: 0; }
    to { left: -250px;}
}
button:focus{
    outline: none;
}
#menu i{
    padding: 2px;
}
#menu{
    z-index: 1000;
    position: absolute;
    animation: hidemenu 0.5s ease-out;
    left: 0px;
    top: 32px;
    width: 250px;
    height: calc(100% - 32px);
    background-color: #2c2f31;
    box-shadow: 10px 5px 15px rgba(24, 24, 24, 0.5);
    display: none;
}
#menu:target{
    animation: showmenu 0.5s ease-out;
    display: block;
}
#menu a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: rgb(219, 219, 219);
    cursor: pointer;
    z-index: 10;
    user-drag: none; 

}
#menu a:hover{
    color: #888888;
}
#logout{
    font-weight: bold;
}
#menu ul{
    padding-left: 7.5px;
}
#menu li{
    list-style: none;
    margin: 10px;
}
#menu-close{
    text-align: center;
    width: 12.5px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    padding: 2px;
}

#menu-close svg *{
    fill: #FFF;
}
#menu-close:hover{
    opacity: 0.6;
}
#nav-user{
    padding: 25px;
    display: flex;
    padding-bottom: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    width: 70%;
}
#nav-user img{
    width: 50%;
    height: 50%;
    border-radius: 100%;
    margin: 10px;
    margin-right: 0;
    display: block;
    border-radius: 200px;
    box-sizing: border-box;
    background-color: #DDD;
    border: 2px solid #cfd8dc;
}
#menu-expand{
    padding: 10px;
    margin-left: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-size: 20px;
    color: rgb(219, 219, 219);
}
#menu-expand:focus{
    outline: none;
}
#site-title-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    position: sticky;
    margin: 10px;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    background-color: #343a40;
    z-index: 999;
    box-sizing: border-box;
    border: 1px solid #cfd8dc85;
}
#site-title-container:hover{
    background-color: #3e444a;
}
#site-title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    left: 50px;
    font-size: 20px;
    color: rgba(75, 75, 75, 0.616);
}
#overflow-div{
    overflow-x: scroll;
    -ms-overflow-style: none;
      scrollbar-width: none
}
#overflow-div::-webkit-scrollbar {
      display: none;
}
.copy-btn{
    position: absolute;
    right: -10px;
    bottom: -10px;
    cursor: pointer;
    background-color: #3e444a;
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: none;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    display: none;
}
#sharelink-a{
    color: #428574;
}
#menu-splitline{
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: 1px;
    background-color: #555555;
    margin: auto auto;
    width: 85%;
}
#loading{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    z-index: 100;
}
.copyright-nav{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 20px;
    padding: 5px;
    padding-bottom: 10px;
    user-select: none;
}
.copyright-nav img{
    margin: 2px;
    width: 17.5px;
    height: 17.5px;
}
.copyright-nav p{
    margin: 5px;
    font-size: 12.5px;
}
#site-reload-btn{
    z-index: 100000;
    position: absolute;
    right: 20px;
    top: 52px;
    font-size: larger;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
#site-reload-btn svg * {
    fill: #cfd8dc;
}
#site-reload-btn:hover{
    opacity: 0.6;
    animation-name: reload-spin;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
}
#site-reload-btn:active, #site-reload-btn:focus{
    animation-name: reload-spin;
    animation-duration: 0.75s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinit;
}

@keyframes reload-spin {
    to {
        transform: rotate(360deg); 
    } 
}

#site-download-update{
    z-index: 100000;
    position: absolute;
    right: 55px;
    top: 52px;
    font-size: larger;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
}
#site-download-update:hover{
    opacity: 0.6;
}
#site-download-update svg * {
    fill: #6fce43;
}
  