h1{
    margin: 5px;
}
#list-notes-container{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 10px;
    position: relative;
    background-color: rgb(27, 27, 27);
    border-radius: 5px;
}
#list-notes-expand{
    margin: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
    cursor: pointer;
}
#list-notes-expand:hover{
    opacity: 0.6;
}
.stickynotelistelement{
    margin-bottom: 5px;
    width: calc(250px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(65, 65, 65);
    border-radius: 5px;
    cursor: pointer;
}
.stickynotelistelement:hover{
    opacity: 0.6;
}
.stickynotelistelementIcon{
    font-size: xx-large;
    margin: 10px;
}
.stickynotelistelementContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: baseline;
}
.stickynotelistelementTitle{
    font-size: large;
    margin-bottom: 5px;
}
.stickynotelistelementTime{
    font-size: x-small;
    opacity: 0.75;
}
.content-title-bar-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.create-stickyNote{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: xx-large;
    cursor: pointer;
    margin: 10px;
}
#notes-editor-container{
    width: 100%;
    height: 100%;
    background-color: white;
}
#editorjs{
    background-color: rgb(49, 49, 49);
}
.content-container-stickynotes{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}